*{
    margin:0;
    padding:0;
    font-family:'Lucida Fax';
    color: #fff;
    box-sizing: 0;

}
body{
    background-image: url(img2/bg.jpg);
    background-repeat:repeat;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding:2em;
    color: #fff;
}
.general-cell{
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
button{
    width: 4.5em;
    background-color: black;
    color: #fff;
    }
#swap,#task2,#task3,#task4{
    width: 4.5em;
    background-color: black;
    color: #fff;
}
#edit1,#edit2,#edit3,#edit4{
    
}
input{
    background-color: black;
}
.tasks{
    display: flex;
    flex-direction: row;
    color: black;
}
.head-cell{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;
    height: 3em;
    color: #fff;
    text-align: right
}
.wh1{
    display: flex;
    text-align: right;
}
.al1{
    display: flex;
    text-align: left;
}
.foot-cell{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;
    height: 3em;
    color: #fff;
    text-align: left;
}
.wh2{
    display: flex;
    text-align: left;
}
.al2{
    display: flex;
    height: 3em;
    text-align: right;
}
.gold-cell {
    display: flex;
    background-image: url(img2/gold.jpg );
    background-repeat:repeat;
    width:10%;
}
.data-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align:center;
    align-items: center;
    color: #fff;
    width: 90%;
    height: 80%;
    padding:1em;
}
#form-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: black;
    width: 50%;
    height: 10%;
}

#inp{
    background-color: black;
    width: 15em;
    height: 2em;
}

.menu-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:12%;
    height: 80%;
    color: #fff;
    text-align:left;
    font-size:24px;
    background-color: black;
}
.nav {
    color: #fff;
    display: flex;
    flex-direction: column;
    width:12%;
    height: 80%;
    text-align:left;
    font-size:24px;
    margin-top: 1em;
    margin-left: 0em;
}
.logo-cell {
    display: flex;
    margin-top: 7em;
}
.editArea {
    align-self: center;
    color: black;
}
}

